:root {
  font-size: 62.5%;
  background-image: url(/Images/victorian-style.jpg);
}

* {
  margin: 0rem;
  padding: 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

p {
  font-size: 1.8rem;
  font-family: Arial, Helvetica, sans-serif;
}

.firstNavigation {
  position: absolute;
  margin-right: 35%;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 3%;
}

.firstNavigation nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.firstNavigation nav ul li {
  text-align: center;
  margin-left: 8rem;
  list-style-type: none;
}

.firstNavigation nav ul li :hover {
  color: red;
}

.firstNavigation nav ul li :focus {
  color: white;
}

.firstNavigation nav ul li :active {
  border-style: dashed;
  border-color: rgba(255, 0, 0, 0.781);
  opacity: 0.5;
  text-shadow: red;
}

.firstNavigation nav ul li a {
  font-size: 2rem;
  text-decoration: none;
  color: #dcfeff;
}

.firstNavigation nav ul li a h1 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 4rem;
}

.firstNavigation nav ul li a h2 {
  font-size: 3rem;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
}

.firstNavigation nav ul li a h3 {
  font-size: 2rem;
  margin-top: 20%;
}

.secondNavigation nav {
  background-color: #23239c;
}

.secondNavigation nav ul {
  padding: 2%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.secondNavigation nav ul li {
  margin-left: 5%;
  margin-right: 7%;
  list-style-type: none;
}

.secondNavigation nav ul li :hover {
  color: red;
}

.secondNavigation nav ul li :focus {
  color: white;
}

.secondNavigation nav ul li :active {
  border-style: dashed;
  border-color: rgba(255, 0, 0, 0.781);
  opacity: 0.5;
  text-shadow: red;
}

.secondNavigation nav ul li a {
  font-size: 2rem;
  text-decoration: none;
  color: #dcfeff;
}

.secondNavigation nav ul li a h3 {
  font-size: 2rem;
}

#backgroundOurCoffees {
  background-image: -webkit-gradient(linear, left top, left bottom, from(black), to(#158ff3));
  background-image: linear-gradient(black, #158ff3);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  text-align: right;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
}

#backgroundOurCoffees .textHeader {
  margin-top: 17%;
}

#backgroundOurCoffees .textHeader h1 {
  font-size: 4.5rem;
  color: #dcfeff;
  display: block;
  position: inherit;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#backgroundOurCoffees .textHeader h2 {
  font-size: 2rem;
  color: #dcfeff;
  display: block;
  margin-top: 3%;
  position: inherit;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#backgroundOurCoffees img {
  -webkit-filter: opacity(0.9);
          filter: opacity(0.9);
}

.backgroundBody {
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.backgroundBody .oneRow {
  text-align: left;
  background-color: #e7f3f3;
  width: 70%;
  margin-top: 7%;
  margin-right: auto;
  margin-left: auto;
  padding: 5%;
}

.backgroundBody .oneRow h2 {
  color: #5e0e0e;
  font-size: 3rem;
  margin-bottom: 5rem;
}

.backgroundBody .oneRow p {
  margin-right: 0%;
}

.backgroundBody .oneRow img {
  margin-left: 4%;
  width: 30%;
  float: right;
}

.backgroundBody .oneRow h2 {
  text-align: center;
}

.backgroundBody .twoRows {
  margin-top: 7%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  background-color: #e7f3f3;
  margin-right: auto;
  margin-left: auto;
}

.backgroundBody .twoRows .firstRow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.backgroundBody .twoRows .firstRow h2 {
  color: #5e0e0e;
  font-size: 3rem;
  margin-bottom: 5rem;
}

.backgroundBody .twoRows .firstRow p {
  margin-left: 20%;
  margin-right: 20%;
}

.backgroundBody .twoRows .secondRow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.backgroundBody .twoRows .secondRow h2 {
  color: #5e0e0e;
  font-size: 3rem;
  margin-bottom: 5rem;
}

.backgroundBody .twoRows .secondRow p {
  margin-left: 20%;
  margin-right: 20%;
}
/*# sourceMappingURL=index.css.map */