$navText: rgb(220, 254, 255);
$backgroundText: rgb(231, 243, 243);
$tablet: 1023px;
$mobile: 765px;

@mixin row {
  display: flex;
  flex-direction: row;
}

@mixin text1 {
  h2 {
    color: rgb(94, 14, 14);
    font-size: 3rem;
    margin-bottom: 5rem;
  }
}

@mixin navPseudo {
  :hover {
    color: red;
  }
  :focus {
    color: rgb(255, 255, 255);
  }
  :active {
    border-style: dashed;
    border-color: rgba(255, 0, 0, 0.781);
    opacity: 0.5;
    text-shadow: red;
  }
}

:root {
  font-size: 62.5%;
  background-image: url(/Images/victorian-style.jpg);
}

* {
  margin: 0rem;
  padding: 0px;
  box-sizing: border-box;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

p {
  font-size: 1.8rem;
  font-family: Arial, Helvetica, sans-serif;
}

.firstNavigation {
  @media (max-width: $tablet) {
    display: none;
  }
  position: absolute;
  margin-right: 35%;
  width: fit-content;
  padding: 3%;
  nav {
    ul {
      @include row();
      li {
        @include navPseudo();
        text-align: center;
        margin-left: 8rem;
        @media (max-width: $tablet) {
          margin-left: 5rem;
        }
        list-style-type: none;
        a {
          text-decoration: none;
          color: $navText;
          h1 {
            font-family: Verdana, Geneva, Tahoma, sans-serif;
            font-size: 4rem;
            @media (max-width: $tablet) {
              font-size: 2.7rem;
            }
          }
          h2 {
            font-size: 3rem;
            font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
              "Lucida Sans", Arial, sans-serif;
            @media (max-width: $tablet) {
              font-size: 2rem;
            }
          }
          h3 {
            font-size: 2rem;
            margin-top: 20%;
            @media (max-width: $tablet) {
              font-size: 1.5rem;
            }
          }
        }
      }
    }
  }
}

.secondNavigation {
  nav {
    background-color: rgb(35, 35, 156);
    ul {
      padding: 2%;
      display: flex;
      flex-direction: row;
      justify-content: center;
      li {
        margin-left: 0%;
        margin-right: 7%;
        list-style-type: none;
        @include navPseudo();
        a {
          font-size: 2rem;
          text-decoration: none;
          color: $navText;
          h3 {
            font-size: 2rem;
          }
        }
      }
    }
  }
}

#backgroundOurCoffees {
  background-image: linear-gradient(black, rgb(21, 143, 243));
  @include row();
  text-align: right;
  justify-content: right;
  display: flex;
  @media (max-width: $tablet) {
  }

  .textHeader {
    text-align: center;
    justify-content: center;
    @media (max-width: $tablet) {
      text-align: center;
    }
    h1 {
      margin-top: 16%;
      font-size: 4.5rem;
      color: $navText;
      @media (max-width: $tablet) {
        margin-top: 13%;
      }
      @media (max-width: $mobile) {
        margin-top: 3%;
        font-size: 2rem;
      }
    }
    h2 {
      font-size: 2rem;
      color: $navText;
      margin-top: 3%;
      @media (max-width: $tablet) {
        font-size: 2rem;
        margin-top: 3%;
      }
      @media (max-width: $mobile) {
        font-size: 1.5rem;
        margin-bottom: 3%;
      }
    }
  }
  img {
    width: 55%;
    float: right;
    @media (max-width: $mobile) {
      margin-top: -15%;
      float: none;
      width: 100%;
    }
  }
}

.backgroundBody {
  width: 100%;
  height: fit-content;
  .oneRow {
    text-align: left;
    @include text1();
    background-color: $backgroundText;
    width: 70%;
    margin-top: 7%;
    margin-right: auto;
    margin-left: auto;
    padding: 5%;
    p {
      margin-right: 0%;
    }
    img {
      margin-left: 4%;
      width: 30%;
      float: right;
    }
    h2 {
      text-align: left;
      font-size: 4rem;
    }
  }
  .twoRows {
    margin-top: 7%;
    @include row();
    background-color: $backgroundText;
    margin-right: auto;
    margin-left: auto;
    @media (max-width: $mobile) {
      flex-direction: column;
    }
    .firstRow {
      display: flex;
      flex-direction: column;
      text-align: center;
      justify-content: center;
      @include text1();
      p {
        margin-left: 20%;
        margin-right: 20%;
      }
      @media (max-width: $mobile) {
        margin-top: 4%;
        margin-bottom: 4%;
      }
    }
    .secondRow {
      display: flex;
      flex-direction: column;
      text-align: center;
      justify-content: center;
      @include text1();
      p {
        margin-left: 20%;
        margin-right: 20%;
      }
      @media (max-width: $mobile) {
        img {
          margin: 0 auto;
          width: 50%;
        }
      }
    }
  }
}
